
#notfound {
    position: relative;
    height: 30vh;
}

#notfound .notfound {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.notfound {
    max-width: 520px;
    width: 100%;
    line-height: 1.4;
    text-align: center;
}

.notfound .notfound-404 {
    position: relative;
    height: 200px;
    margin: 0 auto 20px;
    z-index: -1;
}

.notfound .notfound-404 h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 236px;
    font-weight: 200;
    margin: 0px;
    background: rgb(123, 188, 209);
    background: linear-gradient(94deg, rgba(123, 188, 209, 1) 0%, rgba(6, 21, 86, 1) 21%, rgba(6, 21, 86, 1) 57%, rgba(123, 188, 209, 1) 88%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform: uppercase;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.resText {
    background: rgb(123, 188, 209);
    background: linear-gradient(94deg, rgba(123, 188, 209, 1) 2%, rgba(6, 21, 86, 0.8997724089635855) 19%, rgba(6, 21, 86, 1) 49%, rgba(6, 21, 86, 0.9641981792717087) 82%, rgba(123, 188, 209, 1) 98%, rgba(123, 188, 209, 1) 98%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.notfound .notfound-404 h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
    color: rgba(6, 21, 86, 1);
    background: #EEEEEE;
    padding: 10px 5px;
    margin: auto;
    display: inline-block;
    position: absolute;
    bottom: 0px;
    left: 0;
    right: 0;
}

.notfound a {
    font-family: 'Montserrat', sans-serif;
    border-radius: 30px;
    display: inline-block;
    font-weight: 700;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    padding: 13px 23px;
    background: rgb(123, 188, 209);
    font-size: 14px;
    -webkit-transition: 0.2s all;
    transition: 0.2s all;
}

.notfound a:hover {
    color: rgb(123, 188, 209);
    background: rgb(29, 103, 128);
}

@media only screen and (max-width: 767px) {
    .notfound .notfound-404 h1 {
        font-size: 148px;
    }
}

@media only screen and (max-width: 480px) {
    .notfound .notfound-404 {
        height: 148px;
        margin: 0px auto 10px;
    }

    .notfound .notfound-404 h1 {
        font-size: 86px;
    }

    .notfound .notfound-404 h2 {
        font-size: 16px;
    }

    .notfound a {
        padding: 7px 15px;
        font-size: 14px;
    }
}