@media (max-width: 767.98px) {

    .border-sm-start-none {
        border-left: none !important;
    }

    #cruisesDetail {
        padding: 20px !important;
        display: block !important;
    }
}

@media (max-width: 992px) {
    #cruisesImg {
        aspect-ratio: 0 !important;
        height: 250px !important;
    }
}

@media (max-width: 1313px) and (min-width: 768px) {
    #cruiseImg {
        display: none !important;
    }

    #cruiseBox {
        padding: 10px !important;
    }
}

@media (min-width: 992px) {
    .searchFixed {
        position: fixed !important;
        top: 111px !important;
        z-index: 1000 !important;
        opacity: 100% !important;
        filter: drop-shadow(0 0 30px rgba(123, 188, 209, 70%)) !important;
    }
}

@media (max-width: 768px) {
    .waves {
        height: 40px;
        min-height: 40px;
    }

    .content {
        height: 30vh;
    }

    h1 {
        font-size: 24px;
    }
}

.btn-reservation {
    padding: 10px 40px !important;
    color: rgb(83, 157, 182) !important;
    border-color: rgb(83, 157, 182) !important;
}

.btn-reservation:hover {
    color: white !important;
    background-color: rgb(123, 188, 209) !important;
}

/* cruises Detail*/
#cruisesDetailContainer {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    z-index: 99999;
    background-color: rgba(0, 0, 0, 0.5);
    transition: all 0.38s ease;
}

#cruisesDetail {
    position: fixed;
    top: 70px;
    right: 40px;
    height: calc(100vh - 110px);
    width: calc(100% - 80px);
    overflow: auto;
    border-radius: 50px;
    background-color: #EFEFEF;
    appearance: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: 3s ease-in 1s infinite reverse both running slidein;
}

#cruisesDetailBntX {
    padding: 30px;
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
}

#cruisesDetailImg {
    z-index: -2;
    position: absolute;
    bottom: 0;
    left: 0;
    opacity: 20%;
    filter: blur(1px);
    width: 40%;
    height: 100%;
    aspect-ratio: 1;
    object-fit: cover;
}

#cruiseRomBox {
    max-height: 250px !important;
    overflow: auto;
}

.cruisewave {
    position: absolute;
    bottom: 0;
    left: 40%;
    width: 60%;
    opacity: 10% !important;
    z-index: -10 !important;
    height: 100px;
    background: url("../images/wave.png");
    background-size: 1000px 100px;
}

.cruisewave#wave1 {
    z-index: 2;
    opacity: 0.7;
    bottom: 0;
    animation: animateWaves 4s linear infinite;
}

.cruisewave#wave2 {
    z-index: 1;
    opacity: 0.2;
    bottom: 0;
    animation: animate 4s linear infinite !important;
}

.cruisewave#wave3 {
    z-index: 2;
    opacity: 0.5;
    bottom: 0;
    animation: animateWaves 3s linear infinite;
}

.cruisewave#wave4 {
    z-index: 1;
    opacity: 1;
    bottom: 0;
    animation: animate 3s linear infinite;
}


label.radio input {
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
    pointer-events: none;
}

label.radio span {
    padding: 2px 9px;
    border: 2px solid rgb(70, 148, 173);
    display: inline-block;
    color: rgb(70, 148, 173);
    border-radius: 3px;
    text-transform: uppercase;
}

label.radio input:checked + span {
    border-color: rgb(70, 148, 173);
    background-color: rgb(70, 148, 173);
    color: #fff;
}

/*--------------------------------------------------------------
# Pagination
--------------------------------------------------------------*/
main {
    position: relative;
    padding: 1rem 1rem 3rem;
    /*min-height: calc(100vh - 4rem);*/
}

.hidden {
    display: none;
}

.pagination-container {
    width: calc(100% - 2rem);
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 0;
    padding: 1rem 0;
    justify-content: center;
}

.pagination-number,
.pagination-button {
    font-size: 1.1rem;
    background-color: transparent;
    border: none;
    margin: 0.25rem 0.25rem;
    cursor: pointer;
    height: 2.5rem;
    width: 2.5rem;
    border-radius: .2rem;
}

.pagination-number:hover,
.pagination-button:not(.disabled):hover {
    background: #fff;
}

.pagination-number.active {
    color: #fff;
    background: rgb(123, 188, 209);
}

#cruisesBox {
    animation: 3s linear 1s infinite alternate slidein;
    transition: all 0.38s ease;
    filter: drop-shadow(0 0 1px rgba(123, 188, 209, 70%));
}

#cruiseImg {
    filter: drop-shadow(0 0 3px rgba(123, 188, 209, 70%));
}

#cruisesBox:hover {
    filter: drop-shadow(0 0 30px rgba(123, 188, 209, 70%)) !important;
    transform: scale(1.04);
    cursor: pointer;
}

.WavesContainer {
    height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: white;
}

.WavesContainerR {
    height: 10vh !important;
}

.wavescnt {
    position: absolute;
    width: 100%;
    bottom: 0;
}

.cruisesh1 {
    z-index: -4;
    position: absolute;
    top: 72vh;
}

.upToText {
    font-size: 38px;
    line-height: 100%;
    text-align: center;
    text-transform: uppercase;
    color: rgb(6, 21, 86);
    margin-bottom: 10px;
    /*background: -webkit-linear-gradient(#eee, #333);*/
    background: rgb(123, 188, 209);
    background: linear-gradient(94deg, rgba(123, 188, 209, 1) 0%, rgba(6, 21, 86, 1) 21%, rgba(6, 21, 86, 1) 57%, rgba(123, 188, 209, 1) 88%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.PromoText {
    font-size: 18px;
    line-height: 125%;
    opacity: .7;
    color: rgb(73, 74, 76);
    text-align: center;
}

.waves {
    position: relative;
    width: 100%;
    height: 15vh;
    margin-bottom: -7px; /*Fix for safari gap*/
    min-height: 100px;
    max-height: 150px;
}

/*--------------------------------------------------------------
# waves animation
--------------------------------------------------------------*/

.parallax > use {
    animation: move-forever 25s cubic-bezier(.55, .5, .45, .5) infinite;
}

.parallax > use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 7s;
}

.parallax > use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 10s;
}

.parallax > use:nth-child(3) {
    filter: drop-shadow(0 0 30px rgba(123, 188, 209, 30%));
    animation-delay: -4s;
    animation-duration: 13s;
}

.parallax > use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 20s;
}

@keyframes move-forever {
    0% {
        transform: translate3d(-90px, 0, 0);
    }

    100% {
        transform: translate3d(85px, 0, 0);
    }
}