/* Google Fonts - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,800;1,100;1,200;1,300;1,400;1,500&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700");


* {
    font-family: 'Poppins', sans-serif;
    /*transition: all 0.38s ease;*/
}

body {
    /*transform: scale(.7);*/
    /*zoom: .8;*/
    transform-origin: 0 0;
    background-color: #EFEFEF;
}

*::-webkit-scrollbar {
    width: 12px; /* width of the entire scrollbar */
}

*::-webkit-scrollbar-track {
    background: #EFEFEF !important; /* color of the tracking area */
}

*::-webkit-scrollbar-thumb {
    background-color: #EFEFEF; /* color of the scroll thumb */
    border-radius: 20px; /* roundness of the scroll thumb */
    border: 3px solid rgb(123, 188, 209); /* creates padding around scroll thumb */
}

.navbar-toggler {
    background: transparent !important;
    border: none !important;
}

.navbar-toggler:focus {
    box-shadow: none;
}

.navbar a:hover {
    color: rgb(0, 116, 157) !important;
}

.sticky {
    background: rgba(123, 188, 209, 50) !important;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
    transition: all 0.38s ease;
}

.stickYY {
    background: rgba(123, 188, 209, 50) !important;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.25);
    transition: all 0.38s ease;
}

.btn-login {
    background-color: rgba(123, 188, 209);
    display: flex;
    padding: 10px 23px;
    transition: all 0.38s ease;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 0.8rem;
    font-weight: 500;
    cursor: pointer;
    border: none;
    border-radius: 50px;
}

.btn-login:hover, .btn-login:focus {
    background-color: rgb(23, 106, 133);
    color: #fff;
}

.btn-login-bk {
    background-color: #37517e;
}

.btn-login-bk:hover, .btn-login-bk:focus {
    background-color: #0f2067;
    color: #fff;
}

.btn-login-bK {
    background-color: #2940a1;
}

.btn-login-bK:hover, .btn-login-bK:focus {
    background-color: #0f2067;
    color: #fff;
}

.banner-image {
    position: relative;
    width: 100%;
    height: 100vh;
}

.banner-image img {
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    z-index: -555;
    /* object-fit: fill; */
    filter: blur(1px);
}

.animate {
    /* position: absolute; */
    /* top: vh; */
}

/* seach form */
.seach {
    opacity: 70% !important;
    z-index: 8;
}

.seach:hover,
.seach:focus {
    opacity: 100% !important;
}

/*--------------------------------------------------------------
# Search Box
--------------------------------------------------------------*/
form#search-form {
    background-color: #fff;
    padding: 0px 0px 0px 30px;
    width: 100%;
    border-radius: 7px;
    display: inline-block;
    text-align: center;
}

form#search-form select,
form#search-form input {
    width: 100%;
    height: 36px;
    background-color: transparent;
    border: none;
    color: #2a2a2a;
    font-size: 15px;
    outline: none;
}

.form-select:focus {
    box-shadow: none;
}

form#search-form input.searchText {
    border-left: 1px solid rgba(123, 188, 209, 50);
    border-right: 1px solid rgba(123, 188, 209, 50);
    padding: 0px 30px;
}

form#search-form input::placeholder {
    color: #2a2a2a;
    font-size: 15px;
}

form#search-form button {
    width: 100%;
    height: 100%;
    background-color: rgba(123, 188, 209, 50);
    border: none;
    padding: 15px;
    color: #fff;
    font-size: 15px;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
}

form#search-form button i {
    width: 40px;
    height: 40px;
    background-color: #fff;
    border-radius: 50%;
    color: #8d99af;
    display: inline-block;
    text-align: center;
    line-height: 38px;
    margin-right: 10px;
}

/*--------------------------------------------------------------
# swiper slide
--------------------------------------------------------------*/
.swiper-navBtn {
    color: #90c5d780 !important;
    transition: color 0.3s ease;
}

.swiper-navBtn:hover {
    color: rgba(123, 188, 209, 50);
}

.swiper-pagination-bullet {
    background-color: #90c5d780 !important;
    opacity: 1;
}

.swiper-pagination-bullet-active {
    background-color: rgba(123, 188, 209, 50) !important;
}

.swiper-button-next {
    right: 0 !important;
}

.swiper-button-prev {
    left: 0 !important;
}

.swiper-navBtn:hover {
    top: 0 !important;
    height: 81vh !important;
    width: 6% !important;
    background: rgba(239, 248, 255, 0.3) !important;
}

/*--------------------------------------------------------------
# cruises Catalog
--------------------------------------------------------------*/

.cruisesMain-title h2 {
    letter-spacing: 0px;
    color: rgb(21, 38, 76);
    text-transform: uppercase;
    font-size: 3rem;
    line-height: 100%;
    font-weight: 500;
}

.cruisesMain-title p {
    color: rgb(74, 74, 74);
    line-height: 150%;
    font-weight: normal;
    text-rendering: optimizelegibility;
}


.cruisesCatalog {
    position: relative;
    height: 75vh !important;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
}

.swiper {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    cursor: pointer !important;
    height: calc((100% - 30px) / 2) !important;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-Cruise-img {
    border-radius: 10px;
    aspect-ratio: 1;
    object-fit: cover;
    height: -webkit-fill-available;
    width: -webkit-fill-available;
    filter: brightness(.9);
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1
}

.swiper-Cruise-text {
    color: white;
    font-size: 30px;
    font-weight: 500;
}

/*--------------------------------------------------------------
# time lines
--------------------------------------------------------------*/
.timelines, .timelines:before, .timelines:after {
    box-sizing: border-box;
}

.timelines {
    font-family: "Open Sans", sans-serif;
    color: #001829 !important;
}

.steps {
    padding: 0 10px 10px;
}

.step {
    display: flex;
    position: relative;
}

.step:after {
    content: "";
    position: absolute;
    left: 15px;
    top: 32px;
    height: 0;
    width: 2px;
    background-color: rgba(123, 188, 209, 50);
}

.step .info {
    margin: 8px 0 20px;
}

.step .title {
    font-size: 16px;
    font-weight: 600;
    margin: 0 0 8px;
    /*color: white;*/
}

.step .text {
    font-size: 12px;
    /*color: rgba(255, 255, 255, 0.7);*/
    padding-bottom: 0;
    margin: 0;
}

.step:not(:last-child):after {
    height: 75%;
}

.number {
    width: 32px;
    height: 32px;
    background-color: transparent;
    border-radius: 50%;
    border: 2px solid rgba(123, 188, 209, 50);
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    /*color: white;*/
    font-size: 15px;
    font-weight: 600;
    margin-right: 14px;
}

.number.completed {
    background-color: rgba(123, 188, 209, 50);
}

.number svg {
    width: 16px;
    height: 16px;
    object-fit: contain;
}

.number svg path {
    fill: white;
}

.dash-bar {
    transform: translateX(0) !important;
}

/*--------------------------------------------------------------
# Cta
--------------------------------------------------------------*/
.cta {
    background: linear-gradient(rgba(123, 188, 209, .9), rgba(40, 58, 90, 0.9)), url("../images/home-6.jpg") fixed center center;
    background-size: cover;
    margin: 50px 0;
    padding: 120px 0;
}

.cta h3 {
    color: #fff;
    font-size: 28px;
    font-weight: 700;
}

.cta p {
    color: #fff;
}

.cta .cta-btn {
    font-family: "Jost", sans-serif;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 12px 40px;
    border-radius: 50px;
    transition: 0.5s;
    margin: 10px;
    border: 2px solid #fff;
    color: #fff;
}

.cta .cta-btn:hover {
    background: rgb(123, 188, 209);
    border: 2px solid rgb(123, 188, 209);
}

@media (max-width: 1024px) {
    .cta {
        background-attachment: scroll;
    }
}

@media (min-width: 769px) {
    .cta .cta-btn-container {
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
}

@media screen and (max-width: 768px) {
    .slide-content {
        margin: 0 10px;
    }

    .swiper-navBtn {
        display: none !important;
    }
}

@media (min-width: 992px) {
    .navbar {
        height: 60px;
    }
}

@media (max-width: 991.5px) {
    form#search-form select,
    form#search-form input {
        border: 1px solid #8d99af;
        border-radius: 7px;
        margin-bottom: 15px;
    }

    form#search-form button {
        border-radius: 7px;
    }

    form#search-form {
        padding: 30px;
    }
}








