/* Google Fonts - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,800;1,100;1,200;1,300;1,400;1,500&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700");


* {
    font-family: 'Poppins', sans-serif;
    /*transition: all 0.38s ease;*/
}

body {
    background-color: #EFEFEF;
}

*::-webkit-scrollbar {
    width: 12px; /* width of the entire scrollbar */
}

*::-webkit-scrollbar-track {
    background: #EFEFEF !important; /* color of the tracking area */
}

*::-webkit-scrollbar-thumb {
    background-color: #EFEFEF; /* color of the scroll thumb */
    border-radius: 20px; /* roundness of the scroll thumb */
    border: 3px solid rgb(123, 188, 209); /* creates padding around scroll thumb */
}

/* html,
body {
  font-family: "Poppins";
  font-size: 17px;
  line-height: 1.5;
  box-sizing: border-box;
  margin: 0;
  top: 0;
  left: 0;
} */

.navbar-toggler {
    background: transparent !important;
    border: none !important;
}

.navbar-toggler:focus {
    box-shadow: none;
}

.sticky {
    background: rgba(123, 188, 209, 50) !important;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
    transition: all 0.38s ease;
}

.stickYY {
    background: rgba(123, 188, 209, 50) !important;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.25);
    transition: all 0.38s ease;
}

.btn-login {
    background-color: rgba(123, 188, 209);
    display: flex;
    padding: 10px 23px;
    transition: all 0.38s ease;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 0.8rem;
    font-weight: 500;
    cursor: pointer;
    border: none;
    border-radius: 50px;
}

.btn-login:hover, .btn-login:focus {
    background-color: rgb(23, 106, 133);
    color: #fff;
}

.btn-login-bk {
    background-color: #2940a1;
    opacity: 70%;
}

.btn-login-bk:hover, .btn-login-bk:focus {
    background-color: #0f2067;
    color: #fff;
}

.btn-login-bK {
    background-color: #2940a1;
}

.btn-login-bK:hover, .btn-login-bK:focus {
    background-color: #0f2067;
    color: #fff;
}

/*
.btn-logout {
    color: rgba(123, 188, 209) !important;
}

.btn-logout:hover {
    color: rgb(23, 106, 133) !important;
}

.btn-logout-bk {
    color: white !important;
}

.btn-logout-bk:hover {
    color: #0f2067 !important;
}

.btn-logout-bK {
    color: #2940a1 !important;
}

.btn-logout-bK:hover {
    color: #0f2067 !important;
}*/

.banner-image {
    position: relative;
    width: 100%;
    height: 100vh;
}

.banner-image img {
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    z-index: -555;
    /* object-fit: fill; */
    filter: blur(1px);
}

.animate {
    /* position: absolute; */
    /* top: vh; */
}

/* seach form */

.seach {
    opacity: 70% !important;
}

.seach:hover,
.seach:focus {
    opacity: 100% !important;
}

form#search-form {
    background-color: #fff;
    padding: 0px 0px 0px 30px;
    width: 100%;
    border-radius: 7px;
    display: inline-block;
    text-align: center;
}

form#search-form select,
form#search-form input {
    width: 100%;
    height: 36px;
    background-color: transparent;
    border: none;
    color: #2a2a2a;
    font-size: 15px;
    outline: none;
}

.form-select:focus {
    box-shadow: none;
}

form#search-form input.searchText {
    border-left: 1px solid rgba(123, 188, 209, 50);
    border-right: 1px solid rgba(123, 188, 209, 50);
    padding: 0px 30px;
}

form#search-form input::placeholder {
    color: #2a2a2a;
    font-size: 15px;
}

form#search-form button {
    width: 100%;
    height: 100%;
    background-color: rgba(123, 188, 209, 50);
    border: none;
    padding: 15px;
    color: #fff;
    font-size: 15px;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
}

form#search-form button i {
    width: 40px;
    height: 40px;
    background-color: #fff;
    border-radius: 50%;
    color: #8d99af;
    display: inline-block;
    text-align: center;
    line-height: 38px;
    margin-right: 10px;
}


.slide-container {
    max-width: 1120px;
    width: 100%;
    padding: 40px 0;
    min-height: 100vh !important;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.slide-content {
    margin: 0 40px;
    overflow: hidden;
    border-radius: 25px;
}

.card {
    border-radius: 25px;
    background-color: #fff;
    border-color: #fff !important;
}

.image-content,
.card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 14px;
}

.image-content {
    position: relative;
    row-gap: 5px;
    padding: 25px 0;
}

/* .overlay::before, */
.overlay::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: -40px;
    height: 40px;
    width: 40px;
    background-color: rgba(123, 188, 209, 50);
}

.overlay {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(123, 188, 209, 50);
    background-size: cover;
    border-radius: 25px 25px 0 25px;
}

.overlay::after {
    border-radius: 0 25px 0 0;
    background-color: #fff;
}

.card-image {
    position: relative;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    /* background: #FFF; */
    padding: 3px;
}

.card-image .card-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid rgba(123, 188, 209, 50);
}

.name {
    font-size: 18px;
    font-weight: 500;
    color: #333;
}

.description {
    font-size: 14px;
    color: #707070;
    text-align: center;
}

.button {
    border: none;
    font-size: 16px;
    color: #fff;
    padding: 8px 16px;
    background-color: rgba(123, 188, 209, 50);
    border-radius: 6px;
    margin: 14px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.button:hover {
    background: #8dd0e680;
}

.swiper-navBtn {
    color: #90c5d780 !important;
    transition: color 0.3s ease;
}

.swiper-navBtn:hover {
    color: rgba(123, 188, 209, 50);
}

.swiper-navBtn::before,
.swiper-navBtn::after {
    font-size: 35px;
}

.swiper-button-next {
    right: 0;
}

.swiper-button-prev {
    left: 0;
}

.swiper-pagination-bullet {
    background-color: #90c5d780 !important;
    opacity: 1;
}

.swiper-pagination-bullet-active {
    background-color: rgba(123, 188, 209, 50) !important;
}

/*timelines*/
.timelines, .timelines:before, .timelines:after {
    box-sizing: border-box;
}

.timelines {
    font-family: "Open Sans", sans-serif;
    color: #001829 !important;
}

.wrapper {
    /*min-height: 100vh;*/
    /*display: flex;*/
    /*justify-content: center;*/
    /*align-items: center;*/
}

.steps {
    /*max-width: 300px;*/
    /*margin: 0 auto;*/
    padding: 10px;
    padding-top: 0;
}

.step {
    display: flex;
    position: relative;
}

.step:after {
    content: "";
    position: absolute;
    left: 15px;
    top: 32px;
    height: 0;
    width: 2px;
    background-color: rgba(123, 188, 209, 50);
}

.step .info {
    margin: 8px 0 20px;
}

.step .title {
    font-size: 16px;
    font-weight: 600;
    margin: 0 0 8px;
    /*color: white;*/
}

.step .text {
    font-size: 12px;
    /*color: rgba(255, 255, 255, 0.7);*/
    padding-bottom: 0;
    margin: 0;
}

.step:not(:last-child):after {
    height: 75%;
}

.number {
    width: 32px;
    height: 32px;
    background-color: transparent;
    border-radius: 50%;
    border: 2px solid rgba(123, 188, 209, 50);
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    /*color: white;*/
    font-size: 15px;
    font-weight: 600;
    margin-right: 14px;
}

.number.completed {
    background-color: rgba(123, 188, 209, 50);
}

.number svg {
    width: 16px;
    height: 16px;
    object-fit: contain;
}

.number svg path {
    fill: white;
}


.footer {
    position: relative;
    width: 100%;
    background: rgba(123, 188, 209, 50);
    min-height: 100px;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.social-icon,
.menu {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
}

.social-icon__item,
.menu__item {
    list-style: none;
}

.social-icon__link {
    font-size: 2rem;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
}

.social-icon__link:hover {
    transform: translateY(-10px);
}

.menu__link {
    font-size: 1.2rem;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
    text-decoration: none;
    opacity: 0.75;
    font-weight: 300;
}

.menu__link:hover {
    opacity: 1;
}

.footer p {
    color: #fff;
    margin: 15px 0 10px 0;
    font-size: 1rem;
    font-weight: 300;
}

.wave {
    position: absolute;
    top: -100px;
    left: 0;
    width: 100%;
    height: 100px;
    background: url("../images/wave.png");
    background-size: 1000px 100px;
}

.wave#wave1 {
    z-index: 1000;
    opacity: 1;
    bottom: 0;
    animation: animateWaves 4s linear infinite;
}

.wave#wave2 {
    z-index: 999;
    opacity: 0.5;
    bottom: 10px;
    animation: animate 4s linear infinite !important;
}

.wave#wave3 {
    z-index: 1000;
    opacity: 0.2;
    bottom: 15px;
    animation: animateWaves 3s linear infinite;
}

.wave#wave4 {
    z-index: 999;
    opacity: 0.7;
    bottom: 20px;
    animation: animate 3s linear infinite;
}

@keyframes animateWaves {
    0% {
        background-position-x: 1000px;
    }
    100% {
        background-positon-x: 0px;
    }
}

@keyframes animate {
    0% {
        background-position-x: -1000px;
    }
    100% {
        background-positon-x: 0px;
    }
}

.dash-bar {
    transform: translateX(0) !important;
}


@media screen and (max-width: 768px) {
    .slide-content {
        margin: 0 10px;
    }

    .swiper-navBtn {
        display: none !important;
    }
}

@media (min-width: 992px) {
    .navbar {
        height: 60px;
    }
}

@media (max-width: 991px) {

}

@media (max-width: 991.5px) {
    form#search-form select,
    form#search-form input {
        border: 1px solid #8d99af;
        border-radius: 7px;
        margin-bottom: 15px;
    }

    form#search-form button {
        border-radius: 7px;
    }

    form#search-form {
        padding: 30px;
    }
}








